.profile__info{
    color: #fff;
    max-width: 336px;
    display: grid;
    grid-template-columns: auto auto;
}


@media screen and (max-width: 425px) {
    .profile__info{
        margin: 25px 0 0 0;
        max-width: 282px;
        text-align: center;
    }
}
