.popup__form {
  min-width: 430px;
  display: flex;
  flex-direction: column;
  padding: 34px 35px;
  box-sizing: border-box;
  /*min-height: 359px;*/
  justify-content: space-around;
  }


  @media screen and (max-width: 767px) {
    .popup__form {
        padding: 25px 22px;
        min-width: 0;

    }
}
