.auth-form {
    display: flex;
    flex-direction: column;
    max-width: 358px;
    border: none;
    background-color: rgb(0, 0, 0);
    margin: 60px auto 112px;
    align-items: center;
  }
  
  @media screen and (max-width: 600px) {
    .auth-form {
      margin: 60px auto 0px;
    }
  }
  @media screen and (max-width: 320px) {
    .auth-form {
      max-width: 260px;
      margin: 0px 30px 30px;
    }
  }